### Operations on Tuples

In [6]:
# + and *
t = (1,2,3,4,5)
t1 = (6,7,8,9,0)
print(t+t1)

print(t*3)




# membership
0 in t

# iteration
for i in t:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
1
2
3
4
5

### Tuple Functions

In [12]:
# len/sum/min/max/sorted
t = (1,2,3,4,5)
len(t)
sum(t)
min(t)
max(t)
sorted(t,reverse = True)

[5, 4, 3, 2, 1]

In [15]:
# count
o = (1,2,3,4,5,5,5,5)
o.count(5)

4

In [17]:
# index
o.index(4)

3