### Operations on Tuples

In [ ]:
# + and *
t = (1,2,3,4,5)
t1 = (6,7,8,9,0)
print(t+t1)

print(t*3)




# membership
0 in t

# iteration
for i in t:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
1
2
3
4
5

### Tuple Functions

In [ ]:
# len/sum/min/max/sorted
t = (1,2,3,4,5)
len(t)
sum(t)
min(t)
max(t)
sorted(t,reverse = True)

[5, 4, 3, 2, 1]

In [ ]:
# count
o = (1,2,3,4,5,5,5,5)
o.count(5)

4

In [ ]:
# index
o.index(4)

3

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [3]:
 #speed
import time
L = list(range(1000))
T = tuple(range(1000))

start = time.time()
for i in L:
  i*5
print('List time taken',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time taken',time.time()-start)

List time taken 0.00023126602172851562
Tuple time taken 0.00022673606872558594

In [4]:
#memory
import sys
L = list(range(1000))
T = tuple(range(1000))
print('List size',sys.getsizeof(L))
print('Tuple Size',sys.getsizeof(T))

List size 8056
Tuple Size 8040