## Operations on Lists

- Arithmetic
- Membership
- Loop

In [1]:
# Arithmetic (+ ,*)
# Concatenation/Merge
L = [1,4,5,2,3,0]
l = [0,9,8,1,2,3]
print(L+l)

[1, 4, 5, 2, 3, 0, 0, 9, 8, 1, 2, 3]

In [2]:
print(L*3)

[1, 4, 5, 2, 3, 0, 1, 4, 5, 2, 3, 0, 1, 4, 5, 2, 3, 0]

In [6]:
#Membership
L = [1,4,5,2,3,0]
#1 in L
#6 in L
1 not in L

False

In [13]:
# Loops
#for loops
L = [1,4,5,2,3,0]
'''for i in L:
  print(i)'''

## List Functions

In [17]:
# len/min/max/sorted
L = [1,4,5,2,3,0]
print(len(L))
print(min(L))
print(max(L))
print(sorted(L))

6
0
5
[0, 1, 2, 3, 4, 5]

In [23]:
# count 
Q = [2,7,9,4,6,7,1,1,7,1,7]
Q.count(1)

3

In [25]:
# index
Q = [2,7,9,4,6,7,1,1,7,1,7]
Q.index(4)

3

In [26]:
# reverse
Q = [2,7,9,4,6,7,1,1,7,1,7]


# permanently reverses the list
Q.reverse()
print(Q)

[7, 1, 7, 1, 1, 7, 6, 4, 9, 7, 2]

In [30]:
# sort (vs sorted)
'''The main difference between sort and sorted in Python is that sort function returns nothing and makes 
changes to the original sequence, while the sorted () function creates a new sequence type containing a sorted version of 
the given sequence.'''
Q = [2,7,9,4,6,7,1,1,7,1,7]
Q.sort()
print(Q)
sorted(Q)
print(Q)

[1, 1, 1, 2, 4, 6, 7, 7, 7, 7, 9]
[1, 1, 1, 2, 4, 6, 7, 7, 7, 7, 9]