# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

### Creating Sets

In [52]:
# empty
s1 = { }
print(s1)
# 1D and 2D
s1 = {1,2,3,4}
print(s1)

s2 = {1,2,3,(9,0,8)}
print(s2)
# homo and hetro
s3 = {1,2,3,4}
print(s3)

s4 = {1,2.2,'hello'}
print(s4)
# using type conversion
print(set('hello'))
# duplicates not allowed
s5 = {1,2,3,4,4,4,4,2,1}
print(s5)
# set can't have mutable items
s6  = {1,2,3,(9,0,7)}
print(s6)

{}
{1, 2, 3, 4}
{(9, 0, 8), 1, 2, 3}
{1, 2, 3, 4}
{'hello', 1, 2.2}
{'h', 'l', 'o', 'e'}
{1, 2, 3, 4}
{1, 2, 3, (9, 0, 7)}

### Accessing Items

In [53]:

s = {1,2,3,4,5}
s[0]

TypeError: ignored

### Editing Items

In [54]:
s = {1,2,3,4,5}
s[0]=8

TypeError: ignored

### Adding Items

In [57]:
#add
s = {1,2,3,4,5}
s.add(0)
print(s)
#update
s.update([6,7])
print(s)

{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5, 6, 7}

### Deleting Items

In [69]:
# del
s = {1,2,3,4,5}
#print(s)
#del s
#print(s)
#del s[0]
#print(s)
#discard
#s.discard(500)
#print(s)
#remove
#s.remove(50)
#print(s)
#pop
s.pop()

#clear
s.clear()
print(s)

set()

### Set Operation

In [74]:
# union (|)
a = {1,2,3}
b = {3,4,5}
#print(a|b)
#intersection (&)
print(a & b)
#Differences(-)
print(a-b)
#membership test
1 in a 
#iteration
for i in a:
  print(i)

{3}
{1, 2}
1
2
3

### Set Functions

In [80]:
#len/sum/min/max/sorted
s = {1,2,3,4,5,6,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse = True)

[7, 6, 5, 4, 3, 2, 1]

### Set Comprehension

In [82]:
# examples
s = {1,2,3}
{i*i for i in s}

{1, 4, 9}