### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
n = int(input('Enter number'))
result =0
fact =1
for i in range(1,n+1):
  fact =fact*i
  result = result + i/fact
print(result)

# Nested Loops

In [ ]:
# Examples -> unique pairs

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

### Pattern 1


*** <br>
**** <br>
***<br>

In [3]:
# code here
rows = int(input('Enter rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end =" ")
  print()

Enter rows10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [4]:
# Code here

rows =int(input('Enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end =" ")
  for k in range(i-1,0,-1):
    print(k,end=" ")
  print()

Enter number of rows5
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1